nav ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(61, 61, 88, 0.674);
  }
  
 nav ul li {
    float: left;
  }
  
 nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1en 0;
    width: 100px;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid black; 
  }
  body{
    width: 95%;
    margin: 25px auto;
    background-color: white;
    padding: 25px 1em;
    border: 2px solid (52, 50, 159, 0.816);
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
  }
  article{
    clear: left;
    width: 75%;
    float: left;
    column-count:3;
    column-rule: 5px dotted rgba(52, 50, 159, 0.816);
    column-gap: 0.5em;
    margin-left: 1em;
}
article img{
    float: left;
}
article p::first-letter{
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color: rgb(51, 50, 159);
}
aside ol li{
    list-style-type: upper-roman;
}
aside ul li{
    list-style-type: square;
}
aside_menu ol li a{
    list-style-type: upper-roman;
}
aside_menu ul li a{
    list-style-type: square;
}
footer{
    clear:left;
    border-top: 2px solid blue;
}
footer p.copyright{
    clear:left;
    text-align: center;
    font-size: 80%;
}
aside.fixed{
    width: 20%;
    position: fixed;
    padding: 2em;
    bottom: 35%;
    right: 0;
    font-display: black;
    font-style: bold;
    border: 3px solid blue;
    background-color: rgba(155, 155, 176, 0.114);
}
