html{
    /*background-color: linear-gradient(to bottom, white 0%, black 100%);
    background-image: repeating-conic-gradient(white 10%, black 20%);
    border-radius: 50%;*/
    background-image: repeating-linear-gradient( white 0%, #000000 100%);
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    /*setting the border for the body for Q3*/
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
a:focus, a:hover{
    font-style: italic;
    color: orangered;
}
header h1{
    font-size: 175%;
    color:maroon;
    text-indent: 30px;
}
header h2{
    font-size: 130%;
    color: #800000;
    text-indent: 30px;
    /*float:left;*/
}
header img{
    float: left;
    margin-left: 1.5em;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128, 0, 0);
}
main{
    clear: left;
}
main h3{
    font-size: 105%;
    margin: 3em 2em 2em 1.5em;
    border: 5px double black;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px gray;
    padding: 1em;
}
/*
header h3{
    clear:left;
    margin-top: 3em;
    font-size: 105%;
}*/
main nav{
    font-size: 105%;
    margin: 3em 2em 2em 1.5em;
    border: 5px dashed black;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px gray;
    padding: 0.5em;
}
.contact{
    margin: 1.5em 2em 2em 0em;
    border: 5px dotted black;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px gray;
    padding: 1em;
}
/*
header ul{
    line-height: 1.5em;
}*/
#list {
    line-height: 1.5em;
}
footer p.copyright{
    text-align: center;
    font-size: 80%;
}
