nav ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 nav ul li {
    float: left;
  }
  
 nav ul li a {
    display: block;
    color: white;
    text-align: center;
    width: 175px;
    padding: 14px 16px;
    text-decoration: none;
  }
aside ol li{
    list-style-type: upper-roman;
}
aside ul li{
    list-style-type: square;
}
aside_menu ol li a{
    list-style-type: upper-roman;
}
aside_menu ul li a{
    list-style-type: square;
}
